In [ ]:
import matplotlib.pyplot as plt
from sklearn.metrics import auc
import numpy as np
import csv
import pandas as pd
!pip install pymrmr
import pymrmr

Requirement already satisfied: pymrmr in /usr/local/lib/python3.7/dist-packages (0.1.11)
Requirement already satisfied: numpy>=1.19.5 in /usr/local/lib/python3.7/dist-packages (from pymrmr) (1.19.5)

In [ ]:
# loading dataset
df = pd.read_csv("PlasmaLuminex.csv")
df_new = pd.DataFrame(columns=list(df.columns))
df_new=df = df.iloc[: , 1:]
columns_list=list(df_new.columns)

In [ ]:
df_new

    plasma.IL17F  plasma.FASL  ...  plasma.CD40L  plasma.ENA78
0          59.00        82.00  ...        115.75        213.50
1          87.25       221.50  ...        141.50        158.50
2         686.50      1088.50  ...       2731.75        724.25
3          91.25       112.75  ...        120.75        178.50
4         186.75       544.75  ...        176.00        301.25
..           ...          ...  ...           ...           ...
63        107.00        97.50  ...        164.00       1397.75
64        111.25       270.50  ...        618.00        285.25
65         81.50        86.50  ...         68.50       1014.00
66         49.50        64.25  ...         60.00        458.25
67        108.50       147.75  ...        724.50        557.25

[68 rows x 62 columns]

In [ ]:
pymrmr.mRMR(df_new, 'MID', 13)

['plasma.BDNF',
 'plasma.IL1B',
 'plasma.IL13',
 'plasma.IFNB',
 'plasma.IL7',
 'plasma.EOTAXIN',
 'plasma.IL31',
 'plasma.TGFB',
 'plasma.IL6',
 'plasma.HGF',
 'plasma.GMCSF',
 'plasma.TRAIL',
 'plasma.IL17A']

***selected features***

---


plasma.TGFA

---


plasma.SDF1A

---


plasma.IP10

---


**plasma.EOTAXIN**

---


plasma.IL12P40

---



plasma.IL18

---


plasma.MIG

---


plasma.RESISTIN

---


plasma.IL22

---


plasma.PDGFBB

---


plasma.VEGF

---


plasma.PAI1

---


plasma.ENA78

In [ ]:
pymrmr.mRMR(df_new, 'MIQ', 13)

['plasma.BDNF',
 'plasma.IL13',
 'plasma.IL1B',
 'plasma.IFNB',
 'plasma.IL7',
 'plasma.EOTAXIN',
 'plasma.IL31',
 'plasma.TGFB',
 'plasma.IL6',
 'plasma.HGF',
 'plasma.IL17A',
 'plasma.SCF',
 'plasma.TRAIL']

In [ ]:
def intersection(lst1, lst2):
    lst3 = [value for value in lst1 if value in lst2]
    return lst3

# MID
lst1 = ['plasma.BDNF',
 'plasma.IL1B',
 'plasma.IL13',
 'plasma.IFNB',
 'plasma.IL7',
 'plasma.EOTAXIN',
 'plasma.IL31',
 'plasma.TGFB',
 'plasma.IL6',
 'plasma.HGF',
 'plasma.GMCSF',
 'plasma.TRAIL',
 'plasma.IL17A']

#MIQ

lst2 = ['plasma.BDNF',
 'plasma.IL13',
 'plasma.IL1B',
 'plasma.IFNB',
 'plasma.IL7',
 'plasma.EOTAXIN',
 'plasma.IL31',
 'plasma.TGFB',
 'plasma.IL6',
 'plasma.HGF',
 'plasma.IL17A',
 'plasma.SCF',
 'plasma.TRAIL']
#main results
main=["plasma.TGFA","plasma.SDF1A","plasma.IP10","plasma.EOTAXIN","plasma.IL12P40","plasma.IL18","plasma.MIG","plasma.RESISTIN","plasma.IL22","plasma.PDGFBB","plasma.VEGF","plasma.PAI1","plasma.ENA78"]
#print(intersection(lst1, lst2))
print(intersection(lst1, main))

['plasma.EOTAXIN']

In [ ]:
 import pandas as pd
from sklearn.feature_selection import f_regression

# inputs:
#    X: pandas.DataFrame, features
#    y: pandas.Series, target variable
#    K: number of features to select

# compute F-statistics and initialize correlation matrix
F = pd.Series(f_regression(X, y)[0], index = X.columns)
corr = pd.DataFrame(.00001, index = X.columns, columns = X.columns)

# initialize list of selected features and list of excluded features
selected = []
not_selected = X.columns.to_list()

# repeat K times
for i in range(K):

    # compute (absolute) correlations between the last selected feature and all the (currently) excluded features
    if i > 0:
        last_selected = selected[-1]
        corr.loc[not_selected, last_selected] = X[not_selected].corrwith(X[last_selected]).abs().clip(.00001)

    # compute FCQ score for all the (currently) excluded features (this is Formula 2)
    score = F.loc[not_selected] / corr.loc[not_selected, selected].mean(axis = 1).fillna(.00001)

    # find best feature, add it to selected and remove it from not_selected
    best = score.index[score.argmax()]
    selected.append(best)
    not_selected.remove(best)